<h2 class="jumbotron text-center">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<!-- <div class="text-center">
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>
</div> -->

<div class="container text-center">
  <div class="row vertical-offset-100">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Please log in</h3>
        </div>
        <div class="panel-body">
          <form accept-charset="UTF-8" role="form">
            <fieldset>
              <div class="form-group">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true %>
              </div>
              <div class="form-group">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "off" %>
              </div>
              <div class="checkbox">
                <label>
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </label>
              </div>
               <%= f.submit 'Submit',  class: "btn btn-success" %>
            </fieldset>
          </form>
        </div>
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>

<% end %>
