<br>
<div class="jumbotron text-center">
<h1>Listing tajets</h1>
<p id="notice"><%= notice %></p>
<% if user_signed_in? %>
<br>
  Logged in as <strong><%= current_user.email %></strong>.
<br>
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
<% end %>
</div>
<div class="text-center">
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> Janvier
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option2" autocomplete="off"> Février
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option3" autocomplete="off"> Mars
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option3" autocomplete="off"> Avril
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option3" autocomplete="off"> Mai
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option3" autocomplete="off"> Juin
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option3" autocomplete="off"> Juillet
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option3" autocomplete="off"> Aout
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option3" autocomplete="off"> Séptembre
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option3" autocomplete="off"> Octobre
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option3" autocomplete="off"> Novembre
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option3" autocomplete="off"> Décembre
  </label>
</div>
</div>*

<<<<<<< HEAD
<h1>Listing Statements</h1>
<hr>
<table>
=======
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Mes véhicules
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
  </ul>
</div>

<br>
<table class="table table-hover">
>>>>>>> dcd91b76b1157917ea719c0b3e814cfa2962036b
  <thead>
    <tr>
      <th>Date</th>
      <th>Raison</th>
      <th>Nbr. km</th>
      <th>Taxe coef.</th>
      <th>Ride</th>
      <th>Départ</th>
      <th>Arrivé</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @statements.each do |statement| %>
      <tr>
        <td><%= statement.date %></td>
        <td><%= statement.reason %></td>
        <td><%= statement.nb_km %></td>
        <td><%= statement.taxe_coef %></td>
        <td><%= statement.ride %></td>
        <td><%= statement.start %></td>
        <td><%= statement.arrival %></td>
        <td><%= statement.user_id %></td>
        <td><%= link_to 'Show', statement %> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></td>
        <td><%= link_to 'Edit', edit_statement_path(statement) %> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></td>
        <td><%= link_to 'Destroy', statement, method: :delete, data: { confirm: 'Are you sure?' } %> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
      </tr>
    <% end %>
  </tbody>
</table>
<<<<<<< HEAD


=======
>>>>>>> dcd91b76b1157917ea719c0b3e814cfa2962036b
<br>
<button class="btn btn-primary center-block">Export</button>
<br>
<div class="text-center">
<%= link_to 'New Statement', new_statement_path %>
</div>
