<<<<<<< HEAD
<h1>New Statement</h1>
<hr>
<%= render 'form' %>

<%= link_to 'Back', statements_path %>
<%= simple_form_for @user, url: users_path do |form| %>
  <%= form.input :avatar, as: :file %>
<% end %>
=======
<div class="text-center">
<h1 class="jumbotron">New Statement</h1>

<%= render 'form' %>

<%= link_to 'Back', statements_path %>
</div>
>>>>>>> dcd91b76b1157917ea719c0b3e814cfa2962036b
